<ion-view view-title="Detalles de la Cita">
  <ion-content>
    <div class="list">
     <div class="item item-divider">
      {{date.title}}
    </div>
      <a class="item" href="#">
        Médico
        <span class="item-note">{{date.doctor}}</span>
      </a>
      <a class="item" href="#">
        Consultorio
        <span class="item-note">{{date.office}}</span>
      </a>
      <a class="item" href="#">
        Fecha
        <span class="item-note">{{date.textDate}}</span>
      </a>
      <a class="item item-icon-left" href="#/tab/calendar">
        <i class="icon ion-chevron-left"></i>
        Regresar al calendario
      </a>
      
      
    </div>
  </ion-content>
</ion-view>