<ion-view view-title="Mis datos">
  <ion-content class="padding">
      
    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        Nombre
        <span class="item-note">{{user.name}}</span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-telephone"></i>
        Teléfono
        <span class="item-note">
          {{user.phone}}
        </span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-email"></i>
        Correo
        <span class="item-note">
          {{user.email}}
        </span>
      </a>

      <a class="item item-icon-left" href="#/tab/calendar">
        <i class="icon ion-calendar"></i>
        Citas Pendientes
        <span class="badge badge-assertive">{{totalDates}}</span>
      </a>
      
      <div class="item item-divider">
        Datos Contacto
      </div>
      
      <a class="item item-icon-left item-icon-right" ng-href="tel:{{phone}}">
        <i class="icon ion-chatbubble-working"></i>
        Llamanos
        <i class="icon ion-ios-telephone-outline"></i>
      </a>
      
      <a class="item item-icon-left item-icon-right" href="mailto:{{email}}">
        <i class="icon ion-ios-email"></i>
        Escribenos
        <i class="icon ion-ios-email-outline"></i>
      </a>

    </div>
  </ion-content>
</ion-view>
