<ion-view>
  <ion-nav-title>
    {{vm.calendarTitle}}
  </ion-nav-title>
  <ion-nav-buttons side="left">
      <button class="button icon ion-chevron-left" 
      mwl-date-modifier date="vm.viewDate" decrement="vm.calendarView"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <button class="button icon ion-chevron-right" 
      mwl-date-modifier date="vm.viewDate" increment="vm.calendarView"></button>
  </ion-nav-buttons>
  <ion-content>
    <mwl-calendar
      view="vm.calendarView"
      view-date="vm.viewDate"
      events="vm.events"
      on-view-change-click="false"
      on-event-click="vm.eventClicked(calendarEvent)"
      view-title="vm.calendarTitle">
  </mwl-calendar>
  </ion-content>
</ion-view>
